<!DOCTYPE html>
<html>
<head>
  <title>NmrSim</title>
  <%= stylesheet_link_tag    "nmr_sim/application", media: "all" %>
  <%= javascript_include_tag "nmr_sim/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
